<h1><%=@client.email %> </h1>
<h4><%=@client.name %></h4>
<h5><%=@client.surname %></h5>
<h5><%=@client.patronymic %></h5>
<h6><%=@client.phone_number %></h6>


<% if @client.id == current_client.id %>
  <%= button_to 'Edit profile', edit_client_registration_path, :method => :get %>
  <br>
  <%= button_to 'create request', new_client_request_path(@client), :method => :get %>
<% end %>