<h1>Create by <%= @client.surname %></h1>
<br>
<br>
<h6>id:  <%= @request.id %></h6>
<p>from: <%= @request.origin_location %></p>
<p>to:   <%= @request.destination %></p>
<p>distance: <%= @request.distance %></p>
<p>created at: <%= @request.created_at %></p>
<br>
<%= button_to 'Show cargos', request_cargos_path(@request), :method => :get  %>
<br>
<%= button_to 'Create cargo', new_request_cargo_path(@request), :method => :get  %>
<br>