<% if client_signed_in? %>

  <% @requests.each do |request| %>

    <h6>id:  <%= request.id %></h6>
    <p>from: <%= request.origin_location %></p>
    <p>to:   <%= request.destination %></p>
    <p>distance: <%= request.distance %></p>
    <p>created at: <%= request.created_at %></p>
    <%= button_to 'show', client_request_path(request.client_id, request), :method => :get  %>
    <br><br>

  <%end %>

<%  else  %>
<h1>Hello there!!</h1>
<p>Sign in or register</p>
<% end %>